<ion-content>
  <div class="bg"></div>
  <div class="veri">TYPE YOUR EMAIL</div>
  <div class="message">
    We will send you instruction on how to reset your password
  </div>
  <div class="login-content">
    <div class="email">
      <ion-input class="input-class" placeholder="Email"></ion-input>
    </div>
    <div class="or"></div>
    <div class="login">
      <ion-button
        (click)="onsendClick()"
        class="rbtn"
        shape="round"
        fill="clear"
        >SEND</ion-button
      >
    </div>
    <div class="image23"><img src="./assets/icon/Group10.png" /></div>
  </div>
</ion-content>
