.title {
  font-size: 22px;
  font-weight: 600;
}
.num {
  font-size: 22px;
  font-weight: 600;
  color: #5252c7;
}
.setting {
  font-size: 24px;
}
.row1 {
  margin: 2%;
}
.comment {
  margin: 15px;

  border: 1px solid #f6f7f9;
  background: #f1f1fe;

  height: 100px;
  width: 91%;

  border-radius: 8px;
  padding: 16px;
}
.name1 {
  font-size: 15px;
  font-weight: 800;
}
.cmt {
  font-size: 14px;
  margin-top: 6px;
  display: flex;
  color: #5252c7;
}
.time1 {
  margin-top: 10px;
  font-size: 11px;
  color: darkgray;
}

.liked {
  color: black;
  font-size: 14px;
  font-weight: 600;
}
.profile {
  margin-top: 30%;
}
