.input-class {
  border: darkgray;
  border-radius: 20px;
  background-color: #f3f5f7;
  color: black;
  font-size: large;
  height: 40px;

  border-radius: 30px;
}
.email {
  margin-top: 10px;
  display: flex;
  justify-content: center;
}
.icon {
  padding-left: 10px;
  font-size: 20px;
  color: #5252c7;
}
.send {
  margin-top: 5px;
  border: 5px solid #f3f5f7;
  border-radius: 20px;
  background: #f3f5f7;
  color: black;
  font-size: 23px;
}
.menu {
  margin-top: 15px;
}
.segm {
  background: transparent;
  letter-spacing: -0.1px;
  color: #bdbdbd;
  flex: none;
  order: 0;
  flex-grow: 0;

  ion-segment-button {
    text-transform: none;
  }
}
.title {
  margin-top: 15px;
}
.img2 {
  width: 100%;
  height: 300px;
  object-fit: cover;
}

.num {
  font-size: 16px;
  color: gray;
}
.i2 {
  color: #5252c7;
  font-size: 19px;
}
.profile {
  height: 50px;
  padding-left: 5%;
  padding-bottom: 3%;
}
.profile-name {
  padding-top: 10%;
  padding-left: 2%;
  font-weight: bold;
  color: black;
}
.profile-time {
  padding-top: 10%;
  padding-left: 34%;
}
