.logos {
  font-size: x-large;
}
.collog {
  width: 100%;
}

.name {
  padding-top: 17px;
  font-size: 17px;
  font-weight: 600;
}
.image {
  height: 40px;
  width: 40px;
}
.time {
  padding-top: 17px;
  color: lightgrey;
  font-size: 16px;
}
.img23 {
  width: 100%;
}
.row1 {
  text-align: center;
}
.col1 {
  display: flex;
  justify-content: center;
}
.color {
  color: #5252c7;
  font-size: 20px;
}
.num {
  color: gray;
  padding-right: 5px;
  font-size: 15px;
}
.texts {
  margin-top: 15px;
  font-weight: 700;
  font-size: 18px;
}
.grid {
  margin-left: 8px;
  margin-right: 5px;
}
.pg {
  font-size: 15px;
  color: darkgray;
}
.name1 {
  font-size: 15px;
  font-weight: 600;
}
.cmt {
  font-size: small;
  margin-top: 4px;
}
.time1 {
  margin-top: 6px;
  font-size: 9px;
  color: darkgray;
}
.comment {
  margin-top: 15px;
  border: 1px solid #f6f7f9;
  background: #f6f7f9;

  height: 104px;
  width: 347px;

  border-radius: 8px;
  padding: 16px;
}
.col22 {
  display: flex;
  padding-top: 50px;
}
.heart {
  color: #5151c6;
  font-size: 18px;
}
.chip {
  background-color: #5252c7;
  color: lightgrey;
}
.row11 {
  width: 100%;
  position: fixed;
  bottom: -2px;
  background: white;
}
