.content {
  --background: url("/assets/icon/Rectangle1973(2).png");
  background-repeat: no-repeat;
  height: 100%;
  --background-size: 100%;
}
// .grid {
// }

.click {
  font-size: xx-large;
  color: whitesmoke;
  font-weight: 500;
  font-family: "Times New Roman", Times, serif;
  text-align: center;
  margin-top: 15%;
  margin-bottom: 20%;
}
.caption {
  height: 17px;
  text-align: center;
  /* Caption */
  margin-top: 20%;
  font-family: "Circular Std";

  font-weight: 400;
  font-size: 14px;
  line-height: 120%;
  /* identical to box height, or 17px */

  letter-spacing: 2px;
  text-transform: uppercase;

  /* Grey Scale/White */

  color: #ffffff;
}
.btn12 {
  text-align: center;
  background: rgba(208, 208, 208, 0.3);
  backdrop-filter: blur(8px);
  /* Note: backdrop-filter has minimal browser support */
  text-align: center;
  color: lightgray;
  height: 48px;
  border-radius: 32px;
}
.start {
  text-align: center;
  margin-top: 10px;
  position: fixed;
  width: 100%;
  bottom: 30px;
}
