<ion-content>
  <div class="bg"></div>
  <div class="veri">SET NEW PASSWORD</div>
  <div class="message">Type your new password</div>
  <div class="login-content">
    <div class="email">
      <ion-input class="input-class">
        <div class="abc">Password</div>
        <div class="eye">
          <ion-icon name="eye-outline"></ion-icon></div
      ></ion-input>
    </div>
    <div class="email">
      <ion-input class="put-class">
        <div class="abc">Password</div>
        <div class="eye">
          <ion-icon name="eye-outline"></ion-icon></div
      ></ion-input>
    </div>
    <div class="or"></div>
    <div class="login">
      <ion-button
        (click)="onsendClick()"
        class="rbtn"
        shape="round"
        fill="clear"
        >SEND</ion-button
      >
    </div>
    <div class="image23"><img src="./assets/icon/Group10.png" /></div>
  </div>
</ion-content>
