.click {
  font-size: xx-large;
  color: white;
  font-weight: 500;
  font-family: "Times New Roman", Times, serif;
  text-align: center;
  margin-top: 30px;
}
.welcome {
  margin-top: 36px;
  text-align: center;
}
.bg {
  background: url(/assets/welcome-img.png);
  height: 40%;
  width: 100%;
}

.login-content {
  height: 60%;
  width: 100%;
  margin-top: -40px;
  background: #ffffff;
  border-radius: 28px 28px 0px 0px;
}

.input-class {
  border: gray;
  border-radius: 20px;
  background-color: #f3f5f7;
  color: lightgrey;
  font-size: small;
  height: 50px;
  padding-left: 50px;
  border-radius: 30px;
  margin-top: 20px;
}
.email {
  display: flex;
  justify-content: center;
  padding: 0px 30px;
}

.rbtn {
  display: flex;
  justify-content: center;
  color: #f3f5f7;
  font-weight: 550;
  font-size: 14px;
  height: 50px;
}
.signup {
  background-color: #5252c7;
  border-radius: 25px;
  margin-left: 30px;
  margin-right: 30px;
  margin-bottom: 35px;
  margin-top: 35px;
}
.abc {
  padding-left: 20px;
}
.or {
  /* Caption */

  font-family: "Circular Std";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;

  /* identical to box height, or 17px */

  text-align: center;
  letter-spacing: 2px;
  text-transform: uppercase;

  /* black 2 */

  color: #606060;
}
.mainlg {
  display: flex;
  justify-content: center;
  margin-top: 8px;
}
.logo {
  border: 7px solid #e3e4fc;
  margin-left: 10px;
  font-size: x-large;
  border-radius: 20px;
  background: #e3e4fc;
  color: #5252c7;
}
.logo1 {
  border: 7px solid #e3e4fc;
  border-radius: 20px;
  margin-left: 10px;
  font-size: x-large;
  color: #5252c7;
  background: #e3e4fc;
}
.account {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}
.p {
  font-size: small;
}
.up {
  font-size: 13px;
  font-weight: 600;
  color: #5252c7;
}
.eye {
  padding-top: 10px;
  padding-left: 200px;
  color: black;
  font-size: 23px;
}
