<ion-header> </ion-header>

<ion-content>
  <div class="bg"></div>

  <div class="login-content">
    <div class="email">
      <ion-input [(ngModel)]="name" placeholder="Ente Name" class="input-class">
      </ion-input>
    </div>
    <div class="email">
      <ion-input
        [(ngModel)]="email"
        placeholder="Enter Email"
        class="input-class"
      >
      </ion-input>
    </div>
    <div class="email">
      <ion-input
        [(ngModel)]="password"
        placeholder="Enter Password"
        class="input-class"
      >
      </ion-input>
    </div>

    <div class="signup">
      <ion-button
        (click)="onLoginClick()"
        class="rbtn"
        shape="round"
        fill="clear"
        >SIGN UP</ion-button
      >
    </div>

    <div class="account">
      <p class="p">Already have account?</p>
      <ion-button (click)="onSignupClick()" fill=" clear" class="up"
        >LOG IN</ion-button
      >
    </div>
  </div>
</ion-content>
