<ion-content>
  <ion-row class="row">
    <ion-col size="1">
      <ion-icon name="arrow-back-outline" (click)="onarrowClick()"></ion-icon>
    </ion-col>
    <ion-col class="title" size="10">Bruno</ion-col>
    <ion-col size="1"></ion-col>
  </ion-row>

  <ion-row class="chatgroup">
    <ion-col size="2">
      <img src="../../assets/icon/dp22.png" class="image" />
    </ion-col>
    <ion-col size="10" class="box">
      <p class="pg">
        Hello guys, we have discussed about post-corona vacation plan and our
        decision is to go to Bali. We will have a very big party after this
        corona ends! These are some images about our destination
      </p>
      <div class="time">16.04</div>
    </ion-col>
  </ion-row>
  <ion-row class="chatgroup">
    <ion-col size="2">
      <img src="../../assets/icon/dp22.png" class="image1" />
    </ion-col>
    <ion-col size="10"> <img src="../../assets/icon/rect12.png" /></ion-col>
  </ion-row>
  <ion-row class="chatgroup1">
    <ion-col size="2"> </ion-col>
    <ion-col size="8" class="box1">
      <p class="pg1">
        That’s very nice place! you guys made a very good decision. Can’t wait
        to go on vacation!
      </p>
      <div class="time">16.06</div>
    </ion-col>
    <ion-col size="2"
      ><img src="../../assets/icon/rect13.png" class="image2"
    /></ion-col>
  </ion-row>

  <ion-row class="input">
    <ion-col size="11">
      <ion-input placeholder="Type something"></ion-input>
    </ion-col>
    <ion-col size="1" class="icon"
      ><ion-icon name="image-outline"></ion-icon
    ></ion-col>
  </ion-row>
</ion-content>
