.title {
  text-align: center;
}
.row {
  width: 100%;
  font-size: larger;
  font-weight: 600;
  padding: 4%;
}
.name1 {
  font-size: 16px;
  font-weight: 700;
  padding-top: 2%;
}
.box {
  background: #f6f7f9;
  border-radius: 10px;
  font-size: 15px;
  letter-spacing: 0.4px;
  font-weight: 50;
}
.chatgroup {
  padding-left: 4%;
  padding-right: 4%;
  padding-bottom: 2%;
}
.pg {
  padding: 3%;
}
.time {
  padding-left: 82%;
  color: gray;
}
.image {
  padding-top: 252%;
}
.image1 {
  padding-top: 136%;
}
.box1 {
  background: #f1f1fe;

  border-radius: 10px;
  font-size: 15px;
  letter-spacing: 0.4px;
  font-weight: 50;
  height: 100%;
}
.chatgroup1 {
  padding-left: 4%;
  padding-right: 4%;
  padding-bottom: 2%;
}
.image2 {
  padding-top: 150%;
}
.input {
  display: flex;
  justify-content: center;
  background-color: white;
  position: fixed;
  width: 98%;

  padding-left: 5%;
  padding-top: 27%;
}
.icon {
  font-size: larger;
  padding-top: 4%;
}
