<ion-content>
  <ion-row class="row">
    <ion-col size="4">
      <ion-icon name="arrow-back-outline" (click)="onarrowClick()"></ion-icon>
    </ion-col>
    <ion-col class="title" size="8">Title</ion-col>
  </ion-row>

  <ion-row class="images">
    <ion-col>
      <img src="../../assets/icon/girl(1).png" class="image" />
    </ion-col>
    <ion-col><img src="../../assets/icon/9w(1).png" class="image" /> </ion-col>
  </ion-row>
  <ion-row class="images">
    <ion-col>
      <img src="../../assets/icon/9w(2).png" class="image" />
    </ion-col>
    <ion-col
      ><img src="../../assets/icon/girl123.png" class="image" />
    </ion-col>
  </ion-row>
  <ion-row class="images">
    <ion-col>
      <img src="../../assets/icon/men123.png" class="image" />
    </ion-col>
    <ion-col><img src="../../assets/icon/men.png" class="image" /> </ion-col>
  </ion-row>
</ion-content>
