.title {
  text-align: center;
}
.row {
  width: 100%;
  font-size: larger;
  font-weight: 600;
  padding: 4%;
}
.name1 {
  font-size: 16px;
  font-weight: 700;
  padding-top: 2%;
}
.cmt {
  font-size: 13px;
  padding-top: 3%;
  color: gray;
}
.time1 {
  padding-top: 7%;
  font-size: 10px;
  color: darkgray;
}
.comment {
  border: 1px solid #f6f7f9;
  background: #f6f7f9;

  height: 104px;
  padding: 2%;
  margin-bottom: 4%;
  margin-left: 5%;
  width: 90%;

  border-radius: 8px;
}
.col22 {
  display: flex;
  padding-top: 50px;
}
.heart {
  color: #5151c6;
  font-size: 18px;
}
.num {
  padding-right: 5px;
  font-size: 15px;
}
.pic {
  padding-top: 27%;
}
.chat {
  color: gray;
}
.comment1 {
  border: 1px solid #f6f7f9;
  background: #f1f1fe;
  height: 104px;
  padding: 2%;
  margin-bottom: 4%;
  margin-left: 5%;
  width: 90%;

  border-radius: 8px;
}
.cmt1 {
  font-size: 13px;
  padding-top: 3%;
}
.col2 {
  display: flex;
  padding-top: 50px;
  color: #5151c6;
}
