<ion-content>
  <div class="bg"></div>
  <ion-card class="card">
    <div class="message">Type your new password</div></ion-card
  >
  <div class="login-content">
    <div class="email">
      <ion-input class="input-class">
        <div class="abc">Deadline</div>
        <div class="eye">30 days left</div></ion-input
      >
    </div>
    <div class="email">
      <ion-input class="put-class">
        <div class="abc">Prize</div>
        <div class="eyes">$ 100.00</div></ion-input
      >
    </div>
    <div class="or">Ready to win this challenge</div>

    <ion-button
      (click)="onsubmitClick()"
      class="rbtn"
      shape="round"
      fill="clear"
      >SUBMIT YOUR SHOT</ion-button
    >
    <div class="maintext">
      <div class="t350">350</div>
      <div class="text">people have joined this challenge</div>
    </div>
  </div>

  <div class="dimond">
    <div class="dim">&diams;</div>

    <div class="tcha">Challenge</div>
    <div class="dim">&diams;</div>
  </div>
  <p class="pg">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quis risus, neque
    cursus risus. Eget dictumst vitae enim, felis morbi. Quis risus, neque
    cursus risus. Eget dictumst vitae enim, felis morbi. Quis risus, neque
    cursus risus.
  </p>
  <p class="pg">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quis risus, neque
    cursus risus. Eget dictumst vitae enim, felis morbi. Quis risus, neque
    cursus risus. Eget dictumst vitae enim, felis morbi. Quis risus, neque
    cursus risus.
  </p>
  <div class="dimond">
    <div class="dim">&diams;</div>

    <div class="tcha">Inspiration</div>
    <div class="dim">&diams;</div>
  </div>
  <ion-row class="img">
    <ion-col size="6">
      <img src="./assets/icon/9w(1).png" />
    </ion-col>
    <ion-col size="6">
      <img src="./assets/icon/9w(2).png" />
    </ion-col>
  </ion-row>
  <div class="dimond">
    <div class="dim">&diams;</div>

    <div class="tcha">Trending</div>
    <div class="dim">&diams;</div>
  </div>
  <ion-row class="img">
    <ion-col size="6">
      <img src="./assets/icon/girl(1).png" />
    </ion-col>
    <ion-col size="6">
      <img src="./assets/icon/girl(1).png" />
    </ion-col>
  </ion-row>
</ion-content>
