.bg {
  background-color: gray;
  height: 40%;
}
.save {
  padding-top: 17px;
  font-weight: 600;
  font-size: 16px;
}
.chip {
  color: white;
  background: linear-gradient(270.95deg, #888bf4 0%, #5151c6 100%);
  border-radius: 30px;
  border-radius: 30px;
  font-size: small;
}
.bgw {
  border: 1px solid white;
  border-radius: 20px;
  background-color: white;
  margin-top: -29px;
  padding-top: 20px;
  width: 100%;
}
.title {
  font-size: 15px;
  margin-top: 10px;
  padding-left: 10px;
}
.grid {
  margin: 3%;
}
