<ion-content>
  <div class="bg"></div>
  <div class="veri">VERIFICATION</div>
  <div class="message">
    A message with verification code was sent to your mobile phone.
  </div>
  <div class="login-content">
    <div class="email">
      <ion-input class="input-class">
        <div class="abc">Type verification code</div></ion-input
      >
    </div>
    <div class="or">Don't receive the code</div>
    <div class="login">
      <ion-button
        (click)="onverifyClick()"
        class="rbtn"
        shape="round"
        fill="clear"
        >VERIFY</ion-button
      >
    </div>
    <div class="image23"><img src="./assets/icon/Group10.png" /></div>
  </div>
</ion-content>
